bin-linux/*
bin-win/*
bin-wezterm/*
!bin-linux/PLACE nvim-linux64 HERE
!bin-win/PLACE nvim-win64 HERE
!bin-wezterm/PLACE wezterm-gui.exe HERE
!bin-wezterm/wezterm.lua

data/*
data/**/*
data/**/*.gitignore
!data/**/
!data/**/*.emptyo

data/plugins/*

